body {
    background-image: url("assets/025208.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
}

#formulario {
    max-width: 405px;
    padding: 20px;
    background-color: #8bc3d9;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}

.contenedorTarjetas {
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.imagenTarjeta {
    object-fit: cover;
    width: 100%;
}

.tarjeta {

    border: 2px solid black;
    border-radius: 10px;
    width: 380px;
    padding: 5px;
    background-color: rgba(250, 250, 250, 0.5);
    flex-direction: row;
}

.enlace {
    display: block;
}